.card {
    min-height: 12vh;
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.header-image {
    background-image: url('src/assets/profile_pic.jpg');
    background-size: cover;
}

mat-card {
    color: #424242;
    background: #fff;
}

.mat-card-subtitle {
    color: #424242;
}

p.align-left {
    text-align: left;
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
    padding-top: 5vh;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.donate-button {
    margin-top: 5px;
}

p.donor-list {
    padding: 5vh 3px;
    width: 50vw;
}

mat-form-field {
    max-width: 30vw;
}

mat-list-item {
    margin-bottom: 3vh;
}