<mat-list>
  <h3 mat-subheader>Users</h3>
  <mat-list-item *ngFor="let user of users; last as last">
    <mat-icon mat-list-icon>face</mat-icon>
    <p>{{user.surname}} {{user.name}}</p>
    <p fxHide.lt-md="true">{{user.email}}</p>
    <mat-form-field>
      <mat-select placeholder="Role" [(ngModel)]="user.role" name="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role.toUpperCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
  <button mat-raised-button (click)="updateRoles()">Submit</button>
</mat-list>
