<div> 
  <mat-toolbar color="warn">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
      
    <span class="welcome" *ngIf="isAuthenticated()">Hello, {{getUsername()}}!</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button fxHide.gt-sm="true" *ngIf="isAuthenticated()" (click)="logout()">Logout</button> 
    
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/login" *ngIf="!isAuthenticated()">Login</a>
      <a mat-button routerLink="/register" *ngIf="!isAuthenticated()">Register</a>
      <a mat-button routerLink="/donor-form" *ngIf="isDonor() && canTakeDonationTest()">Donation test</a>
      <a mat-button routerLink="/donor-profile" *ngIf="isDonor()">Profile</a>
      <a mat-button routerLink="/donation-request" *ngIf="isDoctor()">Request</a>
      <a mat-button routerLink="/requests" *ngIf="isDoctor() || isEmployee() || (isDonor() && canDonate())">Requests</a>
      <a mat-button routerLink="/admin" *ngIf="isAdmin()">Admin</a>
      <button mat-raised-button *ngIf="isAuthenticated()" (click)="logout()">Logout</button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container content">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/login" *ngIf="!isAuthenticated()">Login</a>
        <a mat-button routerLink="/register" *ngIf="!isAuthenticated()">Register</a>
        <a mat-button routerLink="/donor-form" *ngIf="isDonor()">Donation test</a>
        <a mat-button routerLink="/donor-profile" *ngIf="isDonor()">Profile</a>
        <a mat-button routerLink="/donation-request" *ngIf="isDoctor()">Request</a>
        <a mat-button routerLink="/requests" *ngIf="isDoctor() || isEmployee()">Requests</a>
        <a mat-button routerLink="/admin" *ngIf="isAdmin()">Admin</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
