<div> 
  <mat-toolbar color="warn">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
      
    <span class="welcome">Hello, {{getUsername()}}!</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button fxHide.gt-sm="true">Logout</button> 
    
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
      <a mat-button routerLink="/donor-form">Donor Form</a>
      <button mat-raised-button>Logout</button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container content">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Register</a>
        <a mat-button routerLink="/donor-form">Donor Form</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
